### Terraform
.terraform
terraform.tfstate*

### Ansible
*.retry

### Custom
ansible/playbooks/host_vars/*
/ansible/playbooks/roles/openvpn/default/main.yml
ansible/ansible_inventory
tf/terraform.tfvars
